<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/firstcomp']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">¿Quién soy?</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mi experiencia y educación</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mis servicios</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>  
        </li>

      </ul>

    </div>
  </nav>
  
  