  
<section>
<div class="header"></div>
    <div class="container text-center">
    <div class="user-box">
        <img src="https://scontent.fbog2-3.fna.fbcdn.net/v/t1.0-9/12572960_10208966902556910_480228076565747621_n.jpg?_nc_cat=111&_nc_ohc=lFVHGGx4E84AX9IAuIT&_nc_ht=scontent.fbog2-3.fna&oh=e3016a12c1440e79272402fd63ab7cdc&oe=5EBB5A63" alt="">
        <h1 #foo>Carlos Cordoba</h1>
        <p>Full-Stack developer</p>
    </div>
</div>
</section> 
<div class="scroll-btn" (click)="scroll(target)">
    <div  class="scroll-bar"><a><span></span></a></div>
</div>
<app-content></app-content>

<!-- <form>
    <input type="text" name="he" [(ngModel)]="he">
    <input type="text" name="bo" [(ngModel)]="bo">
</form>

<agm-map [latitude]="lat" [longitude]="lng">
</agm-map>


 he: {{he}} bo: {{bo}} 
 <div *ngFor="let post of posts">
     <p> {{post.title}}</p>
 </div> -->

